/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.about {
	padding: 20px 300px 20px 300px;
}

h1, h2, h3 {
	text-align: center;
}

.icons {
	float: left;
	padding-right: 25px;
	
}

.bio {
	padding: 1px 40px 10px 10px;
	margin: 30px 10px 20px 10px;
}

figcaption {
	font-size: 17px;
	font-weight: bold;
}