<!-- Navigation -->
<div class="masthead" role="banner">

    <ul class="nav nav-justified navHeight" role="navigation">
        <li id="home"><a href="index.html">Home</a></li>
        <li id="about"><a href="aboutTeam.html">About Us</a></li>
        <li id="recipes"><a href="recipes.html">Recipes</a></li>
        <li id="videos"><a href="videos.html">Videos</a></li>
        <li id="resources"><a href="resources.html">References</a></li>
    </ul>
</div>