/*
	Base Selector Styles
*/
*
{
	margin: 0 auto;
	padding: 0;
	font-size:100% !important;
	font-family: sans-serif;

	color:rgb(40,40,40);
}

body
{
	width:98% !important;
	margin: 0.5em auto 0.5em !important;
    background-color:#796566;
}
a
{
	text-decoration: underline;
}




/*
	Navigation
*/
.whiteLink a
{
	color:white;
}




/*
	Main Page/Styles
*/
.container
{
	padding:0;
	margin: auto;
	border:1px solid black;

	background-color:#E9D4DD;

	vertical-align: middle !important;
}

.container figure img
{
	float: left;
}	

.container h2
{
	padding: 0.5em;
	margin:0 0 0.3em !important;

	text-align: center;
	font-size: 110% !important;
	font-weight:bold !important;

	border-bottom: 2px solid black;

	background-color: #D36C6D; 

	-moz-border-top-left-radius:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;

	-moz-border-top-right-radius:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
}
.container p, .aboutInfo p
{
	padding: 0 1em !important;
	text-indent:0.7em;

	font-size: 90% !important;
}
.bulletList ul 
{
	font-size: 85% !important;
	width: 98% !important;

	margin: 0 auto !important;
	padding-left: 2em !important;
}
.bulletList strong
{
	font-size: 95% !important;
	padding-left: 0.5em !important;
}

/*
	Header Styles
*/
.image 
{
	display:inline-block;
	width:10%
}
.jumbotron
{
	margin:0 !important;
	padding:0 !important;
}
#topHeader
{
	width:100%;

	margin:0 !important;
	padding:0 0 1em !important;

	border: 1px solid black;

	background-color: #D36C6D;

	display:inline-block;
}
.inlineHeader
{
	display:inline-block;

	width:65%;

	margin:0 auto;
}
.inlineHeader h1
{
	margin-top:1em !important;
}
.inlineHeader h1, p
{
	width:98%;
	margin: 0 auto;
}
.inlineHeader h1
{
	font-size: 140% !important;
	font-weight:bold !important;

	padding-top: 0.5em;
}
.inlineHeader ol 
{
	width:79%;
	margin: 0 auto !important;

	text-align: center;
	font-size: 90% !important;
	font-weight:normal !important;
}




/*
	Index Page
*/
.article 
{
	height:20em;

	overflow:auto;
}


/*
	About content (Descriptions)
*/
.aboutInfo
{



	margin: 0 auto;

	overflow:auto;
}
.aboutInfo > img 
{
	min-height:200px;
	max-height: 200px;
}
.aboutInfo ul
{
	list-style: none;
	list-style-position: inside;
	
	width:100% !important;
}
.aboutInfo li:nth-child(2n+1)
{
	background-color:#D36C6D;
}
.aboutTeam
{
    max-height:30em;

    clear:both;

    overflow:auto;
}
.aboutTeam a 
{
	color:#E8D7D0;
}


/*
	Icons
*/


/*
	Products Page
*/

.productList 
{
	min-width:560px;
	max-width:47%;
	
	overflow:hidden;
	
	margin: 0 auto;

}

.productList ul
{
	display:inline-block;
	list-style:none;
	
	padding-left:1em;
	
	width:100%
}
.productList ul li
{
	padding-left: 1em;
}
.category
{
	display:block;

	width:98%;
	margin:0 auto 0.5em;

	background-color: #4C1315;

	clear:both;
}
.category > h2
{
	text-align: center;
	font-size: 140% !important;
	font-weight: bold;

	border-bottom: .5em solid rgb(40,40,40);

	width:100%;

	margin: 0 auto;

	background-color: #CC0000; 

	-moz-border-top-left-radius:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;

	-moz-border-top-right-radius:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
}
.category:first-child
{
	margin-top: 1em;
}





/*
	Contact Page
*/
.formContent
{
	padding: 0 2em !important;
}
.formMaxWidth
{
	max-width: 25em !important;
}




/*
	Terms and Conditions
*/
.centerText
{
	text-align: center;
}


/*
	Order Form
*/
.centerLabel
{
	width:100% !important;
	text-align: center !important;
}



/*
	MISC
*/
.qBtn 
{
	padding: 0.5em 0 !important;

	width:30%;
	min-width:8em !important;

	background-color: #E9D4DD;

	font-size:120% !important;
	font-weight:bold;
	color: rgb(40,40,40);

	box-shadow: 5px 5px 5px black;

	margin: 1em auto !important;
}

.fullWidth
{
	width: 99% !important;
	margin: 0 auto !important;
}
.center
{
	width:95%;

	margin: 0 auto;
}
.floatLeft
{
	float:left;
}
.floatRight
{
	float:right;
}

.redText
{
	color: rgb(170,0,0) !important;
}
.roundTopSmall
{
	-moz-border-top-left-radius:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;

	-moz-border-top-right-radius:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
}
.roundTopMedium
{
	-moz-border-top-left-radius:20px;
	-webkit-border-top-left-radius:20px;
	border-top-left-radius:20px;

	-moz-border-top-right-radius:20px;
	-webkit-border-top-right-radius:20px;
	border-top-right-radius:20px;
}
.roundTopLarge
{
	-moz-border-top-left-radius:30px;
	-webkit-border-top-left-radius:30px;
	border-top-left-radius:30px;

	-moz-border-top-right-radius:30px;
	-webkit-border-top-right-radius:30px;
	border-top-right-radius:30px;
}
.roundBottomSmall
{
	-moz-border-bottom-left-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;

	-moz-border-bottom-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
}
.roundBottomMedium
{
	-moz-border-bottom-left-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	border-bottom-left-radius:20px;

	-moz-border-bottom-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	border-bottom-right-radius:20px;
}
.roundBottomLarge
{
	-moz-border-bottom-left-radius:30px;
	-webkit-border-bottom-left-radius:30px;
	border-bottom-left-radius:30px;

	-moz-border-bottom-right-radius:30px;
	-webkit-border-bottom-right-radius:30px;
	border-bottom-right-radius:30px;
}

#footer
{
	width:100% !important;
	margin: 1em auto 0 !important;

	text-align: center;

	border-top: 1px solid rgb(229,229,229);

	clear:both;
}




/*
	Media Queries
*/
@media  (min-device-width:1026px),
		(min-device-width:1025px) and (max-width:1600px),
		(min-device-width:1024px) and (max-width:989px),
        screen and (max-device-width:480px),
		(max-device-width:480px) and (orientation:landscape),
        (min-device-width:481px) and (max-device-width:1024px) and (orientation:portrait)
{
	.article
	{
		width: 48% !important;
		margin: 0 auto !important;

		float:left;
	}
	.centerForm
	{
		width:70% !important;
		margin: 0 auto !important;
	}
	.productList
	{
		width:30% !important;
	}
}

@media (min-device-width:1024px) and (max-width:509px),
       (max-device-width:480px) and (orientation:portrait)
{
	.article
	{
		width: 99% !important;
		margin: 0 auto !important;
	}
	.aboutInfo
	{
		width: 99% !important;
	}
	.centerForm
	{
		width:70% !important;
		margin: 0 auto !important;
	}
	.productList
	{
		width:90% !important;
		margin: 0 auto !important;
	}
}



